In [23]:
import pandas as pd
df = pd.read_csv(r"D:\Information Technology\Flipkart data\Flipkart data\Flipkart_Mobiles.csv")
print(df.head())

  Brand Model            Color Memory Storage  Rating  Selling Price  \
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5          11990
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5          11990
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3          13990
3  OPPO   A53       Mint Cream   6 GB  128 GB     4.3          13990
4  OPPO   A53   Electric Black   4 GB   64 GB     4.5          11990

   Original Price
0           15990
1           15990
2           17990
3           17990
4           15990

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB

In [11]:
df.isnull().sum()

Brand               0
Model               0
Color               0
Memory             43
Storage            39
Rating            144
Selling Price       0
Original Price      0
dtype: int64

In [13]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean()) # fill the missing values with its mean

In [17]:
df.isnull().sum() # check here

Brand              0
Model              0
Color              0
Memory            43
Storage           39
Rating             0
Selling Price      0
Original Price     0
dtype: int64

In [19]:
# Fill missing values in 'Memory' and 'Storage' columns with 'Unknown'
df['Memory'] = df['Memory'].fillna('Unknown')
df['Storage'] = df['Storage'].fillna('Unknown')

In [21]:
df.isnull().sum() #  check here

Brand             0
Model             0
Color             0
Memory            0
Storage           0
Rating            0
Selling Price     0
Original Price    0
dtype: int64

In [29]:
print(df.describe()) # describing the data here for statical analysis

            Rating  Selling Price  Original Price
count  2970.000000    3114.000000     3114.000000
mean      4.243098   26436.625562    28333.473025
std       0.271991   30066.892622    31525.599889
min       2.300000    1000.000000     1000.000000
25%       4.100000    9990.000000    10030.250000
50%       4.300000   15000.000000    16889.500000
75%       4.400000   28999.000000    31500.000000
max       5.000000  179900.000000   189999.000000

In [61]:
# Convert all string (object) columns to lowercase
df = df.apply(lambda col: col.str.lower() if col.dtype == 'object' else col)

In [63]:
unique_brands = df['Brand'].unique()
unique_brands

array(['oppo', 'htc', 'iqoo', 'google pixel', 'lg', 'asus', 'realme',
       'gionee', 'nokia', 'apple', 'samsung', 'lenovo', 'motorola',
       'poco', 'vivo', 'xiaomi', 'infinix'], dtype=object)

In [67]:
top_selling = (
    df.groupby(['Brand', 'Model'])['Selling Price']
    .sum()
    .reset_index()
    .sort_values(by='Selling Price', ascending=False)
)
print(top_selling.head(10))

    Brand               Model  Selling Price
12  apple   iphone 13 pro max        2898100
13  apple  iphone 13 pro max         2748200
1   apple      iphone 11 pro         2328492
0   apple          iphone 11         2041400
11  apple      iphone 13 pro         1778800
2   apple  iphone 11 pro max         1712200
6   apple  iphone 12 pro max         1598800
25  apple          iphone xr         1499379
5   apple      iphone 12 pro         1338900
3   apple          iphone 12         1271982

In [69]:
# Sort by Rating in descending order and get top 10
top_rated = (
    df.sort_values(by='Rating', ascending=False)
    [['Brand', 'Model', 'Rating']]
    .drop_duplicates()  # Optional: Avoid duplicate models
    .head(10)
)
print(top_rated)

        Brand               Model  Rating
2797     vivo                 z1x     5.0
2021  samsung      sm-b310ezddins     5.0
2799     vivo                  s2     5.0
2791     vivo               x50       5.0
2789     vivo             x60 pro     5.0
1348    apple      iphone 7 plus      5.0
2771     vivo                y33t     4.9
3062   realme                9 5g     4.8
3055    apple   iphone 13 pro max     4.7
1203    apple  iphone 11 pro max      4.7

In [71]:
# Filter rows where Brand is 'google pixel' (case-insensitive)
google_pixel_models = df[df['Brand'].str.lower() == 'google pixel']['Model'].unique()

# Print the models
print(google_pixel_models)

['4a ' '3a xl ' '3' '3 xl ' '3a ' 'xl ' '2 xl ' '2' 'quite black'
 'very silver' 'nexus 5x ']

In [87]:
# Drop duplicate model-rating pairs and sort by Rating descending
google_pixel_unique = (
    google_pixel_df[['Model', 'Rating']]
    .drop_duplicates()
    .sort_values(by='Rating', ascending=False)
)

print(google_pixel_unique)

           Model  Rating
261        3 xl      4.6
270        2 xl      4.6
271            2     4.6
254          4a      4.5
255       3a xl      4.5
256            3     4.5
268          3a      4.5
269          xl      4.5
355    nexus 5x      4.5
274  quite black     4.4
275  very silver     4.4
311    nexus 5x      4.3

In [91]:
# Drop duplicate model-rating pairs and sort by Rating descending
lg_unique = (
    lg_df[['Model', 'Rating']]
    .drop_duplicates()
    .sort_values(by='Rating', ascending=False)
)

print(lg_unique)

                   Model  Rating
324             g pro 2      4.5
325       optimus l5 ii      4.5
308          nexus4 e960     4.5
329             g2 d802      4.5
279  velvet dual screen      4.4
..                   ...     ...
359               x cam      3.5
302            max x160      3.4
341                  q7      3.3
375                 q7+      3.2
349           g8s thinq      NaN

[64 rows x 2 columns]