In [5]:
import pandas as pd
df = pd.read_csv(r"D:\Information Technology\Flipkart data\Flipkart data\Flipkart_Mobiles.csv")
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB