In [23]:
import pandas as pd
df = pd.read_csv(r"D:\Information Technology\Flipkart data\Flipkart data\Flipkart_Mobiles.csv")
print(df.head())

  Brand Model            Color Memory Storage  Rating  Selling Price  \
0  OPPO   A53  Moonlight Black   4 GB   64 GB     4.5          11990
1  OPPO   A53       Mint Cream   4 GB   64 GB     4.5          11990
2  OPPO   A53  Moonlight Black   6 GB  128 GB     4.3          13990
3  OPPO   A53       Mint Cream   6 GB  128 GB     4.3          13990
4  OPPO   A53   Electric Black   4 GB   64 GB     4.5          11990

   Original Price
0           15990
1           15990
2           17990
3           17990
4           15990

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB

In [11]:
df.isnull().sum()

Brand               0
Model               0
Color               0
Memory             43
Storage            39
Rating            144
Selling Price       0
Original Price      0
dtype: int64

In [13]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean()) # fill the missing values with its mean

In [17]:
df.isnull().sum() # check here

Brand              0
Model              0
Color              0
Memory            43
Storage           39
Rating             0
Selling Price      0
Original Price     0
dtype: int64

In [19]:
# Fill missing values in 'Memory' and 'Storage' columns with 'Unknown'
df['Memory'] = df['Memory'].fillna('Unknown')
df['Storage'] = df['Storage'].fillna('Unknown')

In [21]:
df.isnull().sum() #  check here

Brand             0
Model             0
Color             0
Memory            0
Storage           0
Rating            0
Selling Price     0
Original Price    0
dtype: int64

In [29]:
print(df.describe()) # describing the data here for statical analysis

            Rating  Selling Price  Original Price
count  2970.000000    3114.000000     3114.000000
mean      4.243098   26436.625562    28333.473025
std       0.271991   30066.892622    31525.599889
min       2.300000    1000.000000     1000.000000
25%       4.100000    9990.000000    10030.250000
50%       4.300000   15000.000000    16889.500000
75%       4.400000   28999.000000    31500.000000
max       5.000000  179900.000000   189999.000000

In [57]:
top_selling = (
    df.groupby(['Brand', 'Model'])['Selling Price']
    .sum()
    .reset_index()
    .sort_values(by='Selling Price', ascending=False)
)
print(top_selling.head(10))

    Brand               Model  Selling Price
44  Apple   iPhone 13 Pro Max        2898100
45  Apple  iPhone 13 Pro Max         2748200
34  Apple      iPhone 11 Pro         2328492
33  Apple          iPhone 11         2041400
43  Apple      iPhone 13 Pro         1778800
35  Apple  iPhone 11 Pro Max         1712200
39  Apple  iPhone 12 Pro Max         1598800
58  Apple          iPhone XR         1499379
38  Apple      iPhone 12 Pro         1338900
36  Apple          iPhone 12         1271982

In [55]:
# Sort by Rating in descending order and get top 10
top_rated = (
    df.sort_values(by='Rating', ascending=False)
    [['Brand', 'Model', 'Rating']]
    .drop_duplicates()  # Optional: Avoid duplicate models
    .head(10)
)

print(top_rated)

        Brand               Model  Rating
2797     vivo                 Z1x     5.0
2021  SAMSUNG      SM-B310EZDDINS     5.0
2799     vivo                  S2     5.0
2791     vivo               X50       5.0
2789     vivo             X60 Pro     5.0
1348    Apple      iPhone 7 Plus      5.0
2771     vivo                Y33T     4.9
3062   realme                9 5G     4.8
3055    Apple   iPhone 13 Pro Max     4.7
1203    Apple  iPhone 11 Pro Max      4.7

In [61]:
# Convert all string (object) columns to lowercase
df = df.apply(lambda col: col.str.lower() if col.dtype == 'object' else col)

In [63]:
unique_brands = df['Brand'].unique()
unique_brands

array(['oppo', 'htc', 'iqoo', 'google pixel', 'lg', 'asus', 'realme',
       'gionee', 'nokia', 'apple', 'samsung', 'lenovo', 'motorola',
       'poco', 'vivo', 'xiaomi', 'infinix'], dtype=object)